/* #ifdef APP-PLUS-NVUE */
.page{flex: 1;}
/* #endif */
/* #ifndef APP-PLUS-NVUE */
.page{width:100%;min-height:100%;height:auto;display:flex;flex-direction:column;flex:1;}
/* **********图片防止图片闪一下**************/
image{will-change:transform;}
/* 解决边框占1rpx的问题 */
.king-border-sizing{box-sizing:border-box;}
/* 当对象内文本一处时显示省略标记(...) */
.king-indent{text-indent:2em;}
.king-ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
/* **********scroll不换行**************/
.king-scroll-row{white-space:nowrap;width:100%;}
/* 标签Tag */
.king-tags{display:inline-block;padding:6rpx 20rpx;height:40rpx;line-height:40rpx;font-size:24rpx;background-color:#A5A7B2;color:#FFFFFF;}
/* 渐变背景 */
.king-gtbg-blue{background-color:linear-gradient(to right,#B100FF,#00B3FF) !important;color:#FFFFFF !important;}
.king-gtbg-pink{background-color:linear-gradient(to right,#FF0066,#CA00FF) !important;color:#FFFFFF !important;}
.king-gtbg-green{background-color:linear-gradient(to right,#39B55A,#8DC63E) !important;color:#FFFFFF !important;}
.king-gtbg-purple{background-color:linear-gradient(to right,#F000EE,#6E00FF) !important;color:#FFFFFF !important;}
.king-gtbg-orange{background-color:linear-gradient(to right,#FFCD00,#FF9B00) !important;color:#FFFFFF !important;}
.king-gtbg-blue-sky{background-color:linear-gradient(to right,#00FFD5,#008CFF) !important;color:#FFFFFF !important;}
/* #endif */

/* 字体图标前缀 */
/* #ifndef APP-PLUS-NVUE */
.king-icon{font-family: "iconfont" }
/* #endif */
/* #ifdef APP-PLUS-NVUE */
.king-icon{font-family: iconfont }
/* #endif */
/* 文字颜色 */
.king-black{color:#333333 !important;}
.king-black6{color:#666666 !important;}
.king-black9{color:#999999 !important;}
.king-white{color:#FFFFFF !important;}
.king-blue{color:#3687FF !important;}
.king-light-blue{color:#AFCFFF !important;}
.king-blue-sky{color:#61CBEF !important;}
.king-gray{color:#A5A7B2 !important;}
.king-red{color:#FF0036 !important;}
.king-yellow{color:#FFCC00 !important;}
.king-light-yellow{color:#ECD1A8 !important;}
.king-green{color:#9DD26D !important;}
/* 背景颜色 */
.king-bg-black{background-color:#000000 !important;color:#FFFFFF !important;}
.king-bg-white{background-color:#FFFFFF !important;color:#333333 !important;}
.king-bg-blue{background-color:#3687FF !important;color:#FFFFFF !important;}
.king-bg-blue-sky{background-color:#61CBEF !important;color:#FFFFFF !important;}
.king-bg-gray{background-color:#A5A7B2 !important;color:#FFFFFF !important;}
.king-bg-light-gray{background-color:#F8F8F8 !important;}
.king-bg-red{background-color:#FF0036 !important;color:#FFFFFF !important;}
.king-bg-green{background-color:#9DD26D !important;color:#FFFFFF !important;}
.king-bg-yellow{background-color:#FFCC00 !important;color:#FFFFFF !important;}
.king-bg-light-blue{background-color:#AFCFFF !important;color:#FFFFFF !important;}
.king-bg-light-yellow{background-color:#ECD1A8 !important;color:#FFFFFF !important;}

/* **********Flex布局**************/
/* #ifndef APP-PLUS-NVUE */
.king-flex{display:flex;}
.king-flex-vstretch{align-items:stretch;}
/* 相对于自己 定位到顶步 */
.king-self-start{align-self:flex-start;}
/* 自适应 */
.king-self-auto{align-self:auto;}
/* 相对于自己 定位到底部 */
.king-self-end{align-self:flex-end;}
.king-self-stretch{align-self:stretch;}
/* 基线 */
.king-self-baseline{align-self:baseline;}
/* **********块 行**************/
.king-block{display:block;}
.king-inline{display:inline;}
.king-inline-block{display:inline-block;}
/* #endif */
.king-flex-row{flex-direction:row;}
.king-flex-col{flex-direction:column;}
.king-flex-wrap{flex-direction:row;flex-wrap:wrap;}
.king-flex-nowrap{flex-direction:row;flex-wrap:nowrap;}
.king-space-between{flex-direction:row;justify-content:space-between;}
.king-flex-center{flex-direction:row;justify-content:center;}
/* 起始对齐*/
.king-flex-top{justify-content:flex-start;align-items:center;}
.king-flex-vtop{align-items:flex-start;}
.king-flex-vcenter{align-items:center;}
.king-flex-end{flex-direction:row;justify-content:flex-end;}
.king-flex-vend{align-items:flex-end;}
.king-flex1{flex:1;}
.king-flex-v1{flex-direction:column;flex:1;}
/* 中间居中*/
.king-middle-center{justify-content:center;align-items:center;}
/* 底步 */
.king-flex-end{justify-content:flex-end;}
/* **********定位**************/
/* 定位到中间 */
.king-center-view{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.king-fixed{position:fixed;}
/* #ifndef APP-PLUS-NVUE */
.king-fixed-top{width:100%;height:auto;position:fixed;z-index:1;left:0;top:0;}
.king-fixed-bottom{width:100%;height:auto;position:fixed;z-index:1;left:0;bottom:0;}
/* #endif */
.king-relative{position:relative;}
.king-absolute{position:absolute;}
.king-bottom{bottom:0;}
.king-left{left:0;}
.king-top{top:0;}
.king-right{right:0;}


/* **********阴影***********/
.king-mshadow-sm{box-shadow:0 2rpx 4rpx rgba(114,130,138,0.2) !important;}
.shadow{box-shadow:0 8rpx 16rpx rgba(114,130,138,0.2) !important;}
.shadow-lg{box-shadow:0 16rpx 48rpx rgba(114,130,138,0.2) !important;}
/* **********宽高**************/
.king-h100{height:1250rpx;}
.king-h50{width:625rpx;}
.king-w100{width:100%;}
.king-w50{width:50%;}
/* 行高 */
.king-line0{line-height:0 !important;}
.king-line1{line-height:1 !important;}
.king-line-sm{line-height:1.2 !important;}
.king-line-md{line-height:1.5 !important;}
.king-line-lg{line-height:2 !important;}
.king-line-big{line-height:3 !important;}
/* **********边框**************/
.king-border{border-left-width:1rpx;border-left-style:solid;border-left-color:#E9E9E9;border-top-width:1rpx;border-top-style:solid;border-top-color:#E9E9E9;border-right-width:1rpx;border-right-style:solid;border-right-color:#E9E9E9;border-bottom-width:1rpx;border-bottom-style:solid;border-bottom-color:#E9E9E9;}
.king-border-l{border-left-width:1rpx;border-left-style:solid;border-left-color:#E9E9E9;}
.king-border-r{border-right-width:1rpx;border-right-style:solid;border-right-color:#E9E9E9;}
.king-border-t{border-top-width:1rpx;border-top-style:solid;border-top-color:#E9E9E9;}
.king-border-b{border-bottom-width:1rpx;border-bottom-style:solid;border-bottom-color:#E9E9E9;}
/* **********圆角**************/
.king-radius{border-radius:5rpx;}
.king-radius-circle{border-radius:100%;}
/* 圆形 */
.king-radius0{border-radius:0;}
.king-radius10{border-radius:10rpx;}
.king-radius20{border-radius:20rpx;}
/* 文本 */
.king-h1{font-size:80rpx;}
.king-h2{font-size:60rpx;}
.king-h3{font-size:45rpx;}
.king-h4{font-size:32rpx;}
.king-h5{font-size:30rpx;}
.king-h6{font-size:28rpx;}
.king-bold{font-weight:bold;}
.king-font-weight-100{font-weight:100 !important;}
.king-text{font-size:26rpx;line-height:50rpx;}
.king-desc{font-size:24rpx;line-height:44rpx;}
.king-left{text-align:left;}
.king-right{text-align:right;}
.king-center{text-align:center;}
/* 贯穿线 */
.king-line-through{text-decoration:line-through;}
.king-italic{font-style:italic;}

/* 按钮修饰 */
/* #ifndef APP-PLUS-NVUE */
.king-button{font-size:30rpx;line-height:88rpx;padding:0;border-radius:6rpx;}
.king-button::after{border-radius:4rpx !important;border:none;}
.king-button[type=primary]{background-color:#3688FF;border:none;}
.button-hover[type=primary]{opacity:0.9;}
button[loading][type=primary]{background-color:#3688FF;color:#FFFFFF;}
.king-button[type=primary][plain]{color:#3688FF;border:1rpx solid #3688FF;background-color:rgba(0,0,0,0);}
.king-button[type=warn]{background-color:#ee0a25;border:none;}
.king-button-hover[type=warn]{background-color:#FF0036;opacity:0.9;}
button[loading][type=warn]{background-color:#ee0a25;color:#FFFFFF;}
.king-button[type=warn][plain]{color:#FF0036;border:1rpx solid #FF0036;background-color:rgba(0,0,0,0);}
.king-box-btn{width:80rpx;height:80rpx;line-height:80rpx;padding:0;text-align:center;font-size:50rpx;}
button[disabled][type=primary]{background-color:#3688FF;opacity:0.8;}
/* #endif */
.king-font22{font-size:22rpx !important;}
.king-font23{font-size:23rpx !important;}
.king-font25{font-size:25rpx !important;}
.king-font28{font-size:28rpx !important;}
.king-font30{font-size:30rpx !important;}
.king-font35{font-size:35rpx !important;}
.king-font40{font-size:40rpx !important;}
.king-font45{font-size:40rpx !important;}
.king-font50{font-size:50rpx !important;}
.king-font60{font-size:60rpx !important;}
/* **********外边距**************/
/* #ifndef APP-PLUS-NVUE */
.king-m-auto{margin:0 auto;}
.king-mt-auto{margin-top:auto;}
.king-mb-auto{margin-bottom:auto;}
.king-ml-auto{margin-left:auto;}
/* #endif */
/* 四周边距*/
.king-m-0{margin:0;}
.king-m-5{margin:5rpx;}
.king-m-10{margin:10rpx;}
.king-m-20{margin:20rpx;}
.king-m-30{margin:30rpx;}
.king-m-40{margin:40rpx;}
.king-m-50{margin:50rpx;}
/* 左右边距*/
.king-mx-0{margin-left:0;margin-right:0;}
.king-mx-5{margin-left:5rpx;margin-right:5rpx;}
.king-mx-10{margin-left:10rpx;margin-right:10rpx;}
.king-mx-20{margin-left:20rpx;margin-right:20rpx;}
.king-mx-30{margin-left:30rpx;margin-right:30rpx;}
.king-mx-40{margin-left:40rpx;margin-right:40rpx;}
.king-mx-50{margin-left:50rpx;margin-right:50rpx;}
/* 上下边距*/
.king-my-0{margin-top:0;margin-bottom:0;}
.king-my-5{margin-top:5rpx;margin-bottom:5rpx;}
.king-my-10{margin-top:10rpx;margin-bottom:10rpx;}
.king-my-20{margin-top:20rpx;margin-bottom:20rpx;}
.king-my-30{margin-top:30rpx;margin-bottom:30rpx;}
.king-my-40{margin-top:40rpx;margin-bottom:40rpx;}
.king-my-50{margin-top:50rpx;margin-bottom:50rpx;}
.king-mt-0{margin-top:0;}
.king-mt-5{margin-top:5rpx;}

.king-mt-10{margin-top:10rpx;}
.king-mt-20{margin-top:20rpx;}
.king-mt-30{margin-top:30rpx;}
.king-mt-40{margin-top:40rpx;}
.king-mt-50{margin-top:50rpx;}
.king-mb-0{margin-bottom:0;}
.king-mb-5{margin-bottom:5rpx;}
.king-mb-10{margin-bottom:10rpx;}
.king-mb-20{margin-bottom:20rpx;}
.king-mb-30{margin-bottom:30rpx;}
.king-mb-40{margin-bottom:40rpx;}
.king-mb-50{margin-bottom:50rpx;}
.king-ml-00{margin-left:0;}
.king-ml-5{margin-left:5rpx;}
.king-ml-10{margin-left:10rpx;}
.king-ml-20{margin-left:20rpx;}
.king-ml-30{margin-left:30rpx;}
.king-ml-40{margin-left:40rpx;}
.king-ml-50{margin-left:50rpx;}
.king-mr-0{margin-right:0;}
.king-mr-5{margin-right:5rpx;}
.king-mr-10{margin-right:10rpx;}
.king-mr-20{margin-right:20rpx;}
.king-mr-30{margin-right:30rpx;}
.king-mr-40{margin-right:40rpx;}
.king-mr-50{margin-right:50rpx;}
/* **********内边距**************/
.king-p-0{padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;}
.king-p-5{padding-left:5rpx;padding-right:5rpx;padding-top:5rpx;padding-bottom:5rpx;}
.king-p-10{padding-left:10rpx;padding-right:10rpx;padding-top:10rpx;padding-bottom:10rpx;}
.king-p-20{padding-left:20rpx;padding-right:20rpx;padding-top:20rpx;padding-bottom:20rpx;}
.king-p-30{padding-left:30rpx;padding-right:30rpx;padding-top:30rpx;padding-bottom:30rpx;}
.king-p-40{padding-left:40rpx;padding-right:40rpx;padding-top:40rpx;padding-bottom:40rpx;}
.king-p-50{padding-left:50rpx;padding-right:50rpx;padding-top:50rpx;padding-bottom:50rpx;}
.king-plr-0{padding-left:0;padding-right:0;}
.king-px-5{padding-left:5rpx;padding-right:5rpx;}
.king-px-10{padding-left:10rpx;padding-right:10rpx;}
.king-px-20{padding-left:20rpx;padding-right:20rpx;}
.king-px-30{padding-left:30rpx;padding-right:30rpx;}
.king-px-40{padding-left:40rpx;padding-right:40rpx;}
.king-px-50{padding-left:50rpx;padding-right:50rpx;}
.king-py-0{padding-top:0;padding-bottom:0;}
.king-py-5{padding-top:5rpx;padding-bottom:5rpx;}
.king-py-10{padding-top:10rpx;padding-bottom:10rpx;}
.king-py-20{padding-top:20rpx;padding-bottom:20rpx;}
.king-py-30{padding-top:30rpx;padding-bottom:30rpx;}
.king-py-40{padding-top:40rpx;padding-bottom:40rpx;}
.king-py-50{padding-top:50rpx;padding-bottom:50rpx;}
.king-pt-0{padding-top:0;}
.king-pt-5{padding-top:5rpx;}
.king-pt-10{padding-top:10rpx;}
.king-pt-20{padding-top:20rpx;}
.king-pt-30{padding-top:30rpx;}
.king-pt-40{padding-top:40rpx;}
.king-pt-50{padding-top:50rpx;}
.king-pb-0{padding-bottom:0;}
.king-pb-50{padding-bottom:5rpx;}
.king-pb-10{padding-bottom:10rpx;}
.king-pb-20{padding-bottom:20rpx;}
.king-pb-30{padding-bottom:30rpx;}
.king-pb-40{padding-bottom:40rpx;}
.king-pb-50{padding-bottom:50rpx;}
.king-pl-0{padding-left:0;}
.king-pl-5{padding-left:5rpx;}
.king-pl-10{padding-left:10rpx;}
.king-pl-20{padding-left:20rpx;}
.king-pl-30{padding-left:30rpx;}
.king-pl-40{padding-left:40rpx;}
.king-pl-50{padding-left:50rpx;}
.king-pr-0{padding-right:0;}
.king-pr{padding-right:5rpx;}
.king-pr-10{padding-right:10rpx;}
.king-pr-20{padding-right:20rpx;}
.king-pr-30{padding-right:30rpx;}
.king-pr-40{padding-right:40rpx;}
.king-pr-50{padding-right:50rpx;}
/* **********栅栏**************/
/* 栅栏一*/
.king-col-1{width:62.5rpx;}
.king-col-2{width:125rpx;}
.king-col-3{width:187.5rpx;}
.king-col-4{width:250rpx;}
.king-col-5{width:312.5rpx;}
.king-col-6{width:375rpx;}
.king-col-7{width:437.5rpx;}
.king-col-8{width:500rpx;}
.king-col-9{width:562.5rpx;}
.king-col-10{width:625rpx;}
.king-col-11{width:687.5rpx;}
.king-col-12{width:750rpx;}
/* 栅栏二*/
.king-span-1{width:5%;}
.king-span-2{width:10%;}
.king-span-3{width:15%;}
.king-span-4{width:20%;}
.king-span-5{width:25%;}
.king-span-6{width:30%;}
.king-span-7{width:35%;}
.king-span-8{width:40%;}
.king-span-9{width:45%;}
.king-span-10{width:50%;}
.king-span-11{width:55%;}
.king-span-12{width:60%;}
.king-span-13{width:65%;}
.king-span-14{width:70%;}
.king-span-15{width:75%;}
.king-span-16{width:80%;}
.king-span-17{width:85%;}
.king-span-18{width:90%;}
.king-span-19{width:95%;}
.king-span-20{width:100%;}
/* 栅栏三*/
.king-span24-1{width:4.17%;}
.king-span24-2{width:8.33%;}
.king-span24-3{width:12.5%;}
.king-span24-4{width:16.67%;}
.king-span24-5{width:20.83%;}
.king-span24-6{width:25%;}
.king-span24-7{width:29.17%;}
.king-span24-8{width:33.33%;}
.king-span24-9{width:37.5%;}
.king-span24-10{width:41.67%;}
.king-span24-11{width:45.83%;}
.king-span24-12{width:50%;}
.king-span24-13{width:54.17%;}
.king-span24-14{width:58.33%;}
.king-span24-15{width:62.5%;}
.king-span24-16{width:66.67%;}
.king-span24-17{width:70.83%;}
.king-span24-18{width:75%;}
.king-span24-19{width:79.17%;}
.king-span24-20{width:83.33%;}
.king-span24-21{width:87.5%;}
.king-span24-22{width:91.67%;}
.king-span24-23{width:95.83%;}
.king-span24-24{width:100%;}
/* 其他 */

